@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700');

* {
    color: white;
    text-decoration: none;
    font-family: 'Chakra Petch', 'Poppins', 'Roboto Mono', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 999;
}

header .logo a {
    font-size: 25px;
    font-weight: 600;
}

header .navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

header .navlinks a {
    font-size: 16px;
    font-weight: 400;
}

.section1 {
    background-image: url(assets/index/codebg.png);
    filter: greyscale(100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    filter: grayscale(100%);
}

.section1 .box {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 255, 0.247);
    border: solid 1px white;
    border-radius: 15px;
    padding: 20px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 h2 {
    font-family: 'Roboto Mono', 'Chakra Petch';
    font-size: 25px;
    background-color: black;
    padding: 5px 15px;
    border-radius: 10px;

}

.section1 p {
    font-size: 16px;
    font-weight: 500;
}
