@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', 'Roboto Mono', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #5165F6;
}

header .logo {
    font-weight: 600;
    font-size: x-large;
    color: white;
}


header .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

header .navlinks a {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header .navlinks .profile {
    border: solid 2px white;
}

header .navlinks a ion-icon {
    color: white;
    font-size: 20px;
}

header .navlinks a:hover {
    background-color: white;
    color: #5165F6;
    transition: all .2s;
} 

header .navlinks .profile:hover {
    background-color: white;
    color: white;
    transition: all .2s;
} 

header .navlinks a:hover ion-icon {
    color: #5165F6;
}

main {
    padding: 30px 100px;
}

main .navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

main .links a {
    text-decoration: underline;
}

.price {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #5165F6;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    cursor: default;
}

.preferences, .gallery, .order-now {
    margin-bottom: 80px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Espace entre les colonnes */
}

.features-list label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 30px; /* espace pour la case à cocher personnalisée */
}

.features-list input[type="checkbox"] {
    opacity: 0; /* Masque la case à cocher réelle */
    position: absolute;
    cursor: pointer;
}

.features-list .custom-checkbox {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.features-list label:hover .custom-checkbox {
    background-color: #b3b3b3; /* Change la couleur au survol */
}

.features-list input[type="checkbox"]:checked + .custom-checkbox {
    background-color: black; /* Couleur lorsqu'elle est cochée */
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-list input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '✓';
    color: white;
    font-size: 14px;
}

.features-list input[type="checkbox"]:checked + .custom-checkbox + .text {
    color: gray; /* Changement de la couleur du texte */
}

.text {
    transition: color 0.2s;
}

.photos {
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px darkgray;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

.photos img {
    max-height: 200px;
    min-height: 200px; /* Assure que chaque image a une largeur minimale */
    flex-shrink: 0; /* Empêche les images de se réduire pour tenir dans le conteneur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.order-now {
    background-color: #5165F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.order-now h2, .order-now p, .order-now b {
    color: white;
}

#customer-email {
    width: 50%;
    padding: 10px;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    border: solid 2px black;
}

.order-now .orderbtn {
    padding: 10px 50px;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(240, 240, 198);
    border-radius: 5px;
    margin: 30px 0;
    border: solid 2px black;
}

.order-now .orderbtn:hover {
    background-color: black;
    color: white;
    transition: all .2s;
}